<!--Analysis Page --> 
<% provide(:title, 'User Analysis') %>

<!--containers for design/layout --> 
<div class = "signinstyle">
  <%= link_to 'Back', current_user %>
    
  <div class = "row">
    <!--Page information --> 
    
      <h1>User Analysis</h1>
        <p><b>User gender proportion:</b></p>
        <%= pie_chart @users.group("gender").count("gender"), {library: {backgroundColor:'transparent'}} %></br>
        
        <p><b>Users' saved degrees:</b></p>
        <%= column_chart @searches.group("saved_search").count, {library: {backgroundColor:'transparent'}} %></br>
        
        <p><b>Users registrations:</b></p>
        <%= column_chart @registrations.group_by_day("created_at").count, {library: {backgroundColor:'transparent'}} %></br>

        <p><b>Users social media login usage:</b></p>
        <%= column_chart @registrations.group_by_day("created_at").count, {library: {backgroundColor:'transparent'}} %></br>
    <!--closing the design/layout containers --> 
    </div>
</div>