<!--User Analysis Page Title--> 
<% provide(:title, 'User Analysis') %>

<!--breadcrumbs-->
<div class= "row">
  <br>
  <a href="/">Home</a> / <%= link_to 'My Profile', current_user %> / User Analysis
  <br>
  <%= link_to "Back", :back %>
</div>
<!--Page information --> 
  <div class = "row">
      <h1>User Analysis</h1>
      <%= image_tag "line.png" , :alt => "line break"%>    
  </div>
  
  <!-- Charts for Analysis -->
  <div class = "row">
        <p><b>User Gender Proportion:</b></p>
        <%= pie_chart @users.group("gender").count("gender"), {library: {backgroundColor:'transparent'}} %></br>
        <%= image_tag "line.png" , :alt => "line break"%>    

        <p><b>Users' Saved Degrees:</b></p>
        <%= column_chart @searches.group("cname").count, {library: {backgroundColor:'transparent'}} %></br>
        <%= image_tag "line.png" , :alt => "line break"%>    

        <p><b>Use of Social Media login:</b></p>
        <%= column_chart @socialmedialogin.group("provider").count, {library: {backgroundColor:'transparent'}} %></br>
        <%= image_tag "line.png" , :alt => "line break"%>    

        <p><b>User's postcode proportions:</b></p>
        <%= column_chart @postcodes.group("postcode").count, {library: {backgroundColor:'transparent'}} %></br>
  </div>
