<!--Analysis Page --> 
<% provide(:title, 'Sign up') %>

<!--containers for design/layout --> 
<div class = "signinstyle">
  <div class = "row">
    <!--Page information --> 
          <h1>Sign up</h1>
          
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <!--Calendar inserted instead of drop down menu? -->
      <%= f.label :date_of_birth %>
      <%= f.date_select :dob, :start_year=>1900, class: 'form-control' %><br>
      
      <%= f.label :gender %>
        <%= f.label :male %>
          <%= f.radio_button :gender, 'male', :checked => true, class: 'form-control' %>
        <%= f.label :female %>
          <%= f.radio_button :gender, 'female', class: 'form-control' %>
        <%= f.label :other %>
          <%= f.radio_button :gender, 'other', class: 'form-control' %><br>

      <%= f.label :postcode %>
      <%= f.text_field :postcode, class: 'form-control' %><br>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
   
</div>
</div>