<!--Saved searches page in each users' profile--> 
<% provide(:title, 'My Saved Searches') %>

<!--containers for design/layout --> 

  <div class = "row">
    <!--Page information -->    
<br>
    <%= link_to "Back", :back %>
    <h1>My Saved Searches</h1>
    <%= image_tag "line.png" , :alt => "logo"%>  

      <% if @showsearches != nil %>
      <table>
        <thead>
          <tr>
            <th>Saved Degree</th>
            <th>University Name</th>
            <th>Date / Time</th>
          </tr>
        </thead>
        <tbody>
          <% @showsearches.each do |search| %>
            <tr>
              <td><a href="<%= search.saved_search %>"><%= search.cname %></a></td>
              <td><%= search.uname %></td>
              <td><%= search.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
      <br>
      <%= link_to 'Delete My Saved Searches', search_path, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %>
  </div>
