<!--Saved searches page in each users' profile Title --> 
<% provide(:title, 'My Saved Searches') %>

<!-- Breadcrumbs -->
<div class= "row">
  <br>
  <%= link_to "Back", :back %>
</div>  
  
<!-- Page Content -->
<div class= "row">
  <h1>My Saved Searches</h1>
    <%= image_tag "line.png" , :alt => "logo"%>  

    <!---Saved Searches Table-->
    <% if @showsearches != nil %>
      <table>
        <thead>
          <tr>
            <th>Saved Degree</th>
            <th>University Name</th>
            <th>Date / Time</th>
          </tr>
        </thead>
        <tbody>
          <% @showsearches.each do |search| %>
            <tr>
              <td><a href="<%= search.saved_search %>"><%= search.cname %></a></td>
              <td><%= search.uname %></td>
              <td><%= search.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
      <br>
      <%= link_to 'Delete My Saved Searches', search_path, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %>

  <!--Page Breaks -->
  <br><br>
</div>
