<!--containers for design/layout --> 
<div class = "signinstyle">
  <div class = "row">
    <!--Page information -->    
      <%= link_to 'Back', current_user %>
      <h1>My Saved Searches</h1>
          <% if @showsearches != nil %>
          <table>
            <thead>
              <tr>
                <th>Saved Degree</th>
                <th>University Name</th>
                <th>Date / Time</th>
              </tr>
            </thead>
            <tbody>
              <% @showsearches.each do |search| %>
                <tr>
                  <td><a href="<%= search.saved_search %>"><%= search.cname %></a></td>
                  <td><%= search.uname %></td>
                  <td><%= search.created_at %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% end %>
      <br>
      <%= link_to 'Delete My Saved Searches', search_path, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %>
  </div>
</div>