<!--Profile Page --> 
<% provide(:title, "Profile") %>

<!--containers for design/layout --> 
<div class = "signinstyle">
  <div class = "row">
    <!--Page information --> 
        
         <h2>Hi <%= @user.name %></h2></br>
                <%= gravatar_for @user %>
                    <%= link_to "Edit my Account Details",  edit_user_registration_path(current_user) %>

                    <!--limits below to Admin-->
                    <% if current_user.admin? %>
                      <li><%= link_to "Analysis", analysis_path %></li>
                      <li><%= link_to "Admin Dashboard", rails_admin_path %></li>
                    <% end %>


          <% if @showsearches != nil %>
          <table>
            <thead>
              <tr>
                <th>Saved Search</th>
                <th>Date - Time</th>
              </tr>
            </thead>
            <tbody>
              <% @showsearches.each do |search| %>
                <tr>
                  <td><a href="<%= search.saved_search %>">Show</a></td>
                  <td><%= search.created_at %></td>
                  <td><%= link_to 'Delete', search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% end %>



    <!--closing the design/layout containers --> 
    </div>
</div>