<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
      <h1>My profile</h1></br>
      <p>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </p></br>
      <%= @user.email %></br>
      <p>Your gender: <%= @user.gender %></p>
      <p>Your age: <%= @user.age %></p>
      <p>Your postcode: <%= @user.postcode %></p>
    </section>
  </aside>
</div>

