<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
      <h1>My profile</h1></br>
      <p>
        <%= @user.name %>
      </p></br>
      <%= @user.email %></br>
      <p>Gender: <%= @user.gender %></p>
      <p>Date of birth: <%= @user.dob.strftime("%d.%m.%Y") %></p>
      <p>Postcode: <%= @user.postcode %></p>
    </section>
  </aside>
</div>

