<!-- Index of all Courses -->
<% provide(:title, "Course Index") %>

<!--containers for design/layout --> 
<div class = "signinstyle">
  <div class = "row">
    <!--Page information --> 
    
          
          <h2>List of Scotland University degrees</h2>
          
            <table border="1" class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>University Name</th>
                  <th>Course Name</th>
                  <th>Ucas Number</th>
                  <th>Duration</th>
                  <th>Qualification</th>
                  <th>Entry Requirements</th>
                </tr>
              </thead>
              <tbody>
                <% @degreecourses.each do |degree| %>
                <tr>
                  <td><%= degree.id %></td>
                  <td><%= degree.uname %></td>
                  <td><%= degree.cname %></td>
                  <td><%= degree.ucas %></td>
                  <td><%= degree.duration %></td>
                  <td><%= degree.qualification %></td>
                  <td><%= degree.entry %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          
    <!--closing the design/layout containers --> 
    </div>
</div>