<!--Functionality of recommender?? --> 
<% provide(:title, 'Uni2choose') %>

<!--containers for design/layout --> 
<div class = "contenty">
  <div class = "row">
    
    <div class="col-s-12 col-s-12";>
      <!--Page information --> 
      <p>Uni2choose is a website designed to help you find the degree best suited to you, at the University you prefer.</p>
    </div>
    <div class="col-s-4 col-s-4";>
      <div class="home-box">
        <div class="content-home-box">
          <h4>Search for a degree by keyword (e.g. history, computing...)</h4>
            <%= form_tag(keyword_search_path, :method => "get") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search course" %>
              <%= submit_tag "Search", :class => "btn btn-default" %>
            <% end %>
        </div>
      </div>
    </div>
    <div class="col-s-4 col-s-4";>
      <div class="home-box">
        <div class="content2-home-box">
          <h4>Do a detailed search:</h4>
          <%= link_to "To the detailed search!", adsearch_path, :class => "btn btn-default" %>
        </div>
      </div>
    </div>
    <div class="col-s-4 col-s-4";>
      <div class="home-box">
        <div class="content2-home-box">
          <h4>Want to take a quizz and get a degree subject suggested?</h4>
          <%= link_to "Get a degree suggested to me!", new_path, :class => "btn btn-default" %>
        </div>
      </div>
    </div>
    

  </div>
</div>