<!--Functionality of recommender?? --> 
<% provide(:title, 'Uni2choose') %>

<!--containers for design/layout --> 
<div class = "contenty">
  <div class = "row">
    <div class="col-s-6 col-s-6";>

    <!--Page information --> 
    <p>Uni2Choose is a website designed to help you find the degree best suited to you. Through our recommender system, quiz, and search functions.</p>
   

    
    </div>
    
    
        <div class="col-s-6 col-s-6";>
        <%= link_to root_path do %>
        <%= image_tag "logoplaceholder.png" , :alt => "logo"%>
        <% end %>    
        </div>
        
    
    </div>
    <div class ="row"> 
    
    <div class="col-s-4 col-s-4";>
    <%= link_to new_path do %>
    <%= image_tag "rec.jpg" , :alt => "recbutton"%>
    <% end %>
    </div>
    <div class="col-s-4 col-s-4";>
    <%= link_to quiz_path do %>
    <%= image_tag "quiz.jpg" , :alt => "quizbutton" %>
    <% end %>
    </div>
    <div class="col-s-4 col-s-4";>
    <%= link_to about_path do %>
    <%= image_tag "about.jpg" , :alt => "aboutbutton" %>
    <% end %>
</div>
        <% breadcrumb :root %>
    
    </div>
    
    
    </div>