<!--Home page title--> 
<% provide(:title, 'Uni2choose') %>

<!--Page Content --> 


  <div class = "row">
      
      <!-- Into to Uni2choose and Search function-->
      <div class="col-s-7 col-s-7";>
          <br>
          <br>
          <h5><strong>Uni2Choose</strong> is a website designed to help you find the degree best suited to you. 
          You can take our simple course suggestion and personality quizzes and see which courses are suited to you. 
          Alternatively you can search and browse through all courses offered using our search.</h4>      <br>
        
          <!-- Search function on main page -->
          <%= search_form_for @adsearch, url: adsearch_path, method: :get do |f| %>
          
          <!-- Hidden aspects for Search-->
          <div class="hidden">
              <%= label_tag :uregion, "Refine By Region:" %><br>
              <%= render "regions" %><br>
              <%= select_tag :uregion, options_for_select(["Anywhere", "Northern", "Central belt", "South from Dundee"], selected: @uregion)  %>
              <%= label_tag :discipline, "Refine By Degree Category:" %><br>
              <%= select_tag :discipline, options_for_select(["Any", "Medicine and Dentistry", "Subjects allied to Medicine", "Biological Sciences",
              "Veterinary Sciences, Agriculture and Related Subjects", "Physical Sciences", "Mathematical Sciences", "Engineering", 
              "Computer Sciences", "Technologies", "Architecture, Building and Planning", "Social Studies", "Law", 
              "Business and Administrative Studies", "Mass Communication and Documentation", "Linguistics, Classics and Related Subjects",
              "European Languages, Literature and Related Subjects", 
              "Eastern, Asiatic, African, American and Australasian Languages, Literature and Related Subjects", 
              "Historical and Philosophical Studies", "Creative Arts and Design", "Education"], selected: @discipline ) %>
          </div>
          
          <!-- Text Box for writing search-->
          <div>
            <%= f.text_field :cname_cont, placeholder: "Search for a Degree" %>
          </div>
          
          <!-- Hidden aspects for Search-->
          <div class="hidden">
            <div>
              <%= f.label :uname_cont, "University Name Contains:" %>
              <%= f.text_field :uname_cont, placeholder: "University Name" %>
            </div>
          </div>
        
        <!-- Submitting search button-->
        <div class="actions">
            <%= f.submit "Search", :class => "btn btn-default" %>
        </div>
            <% end %>
    </div>
    
    <!-- Logo Image-->    
    <div class="col-s-5 col-s-5";>
        <%= image_tag "logo.png" , :alt => "logo"%>    
    </div>
    
  </div>
  
  <!-- Line design -->
  <div class ="row">
      <%= image_tag "line.png" , :alt => "line break"%>    
  </div>
   
  <!-- Quiz and About buttons/links -->
  <div class ="row"> 
    <!--Main quiz-->
    <div class="col-s-4 col-s-4";>
      <%= link_to mainquiz_path do %>
      <%= image_tag "course.png" , :alt => "recbutton"%>
      <% end %>
    </div>
    
    <!-- Personality Quiz -->
    <div class="col-s-4 col-s-4";>
      <%= link_to quiz_path do %>
      <%= image_tag "quiz.png" , :alt => "quizbutton" %>
      <% end %>
    </div>
    
    <!-- About Page link -->
    <div class="col-s-4 col-s-4";>
      <%= link_to about_path do %>
      <%= image_tag "uni.png" , :alt => "aboutbutton" %>
      <% end %>
    </div>
    
  </div>
    

