<% provide(:title, "Home") %>
<%= stylesheet_link_tag "custom.css.scss" %>



  
          
          
<div class="contenty">
  
  <div class="row">
        <aside class="col-4 col-s-4">
          
          <h2>Select a University:</h2>
          <table></table>
            
            
<table>                         
  <tr>                          
    <th>University</th>

  </tr>
  <tr>
    
    <td><%= @uninames_array[0] %></td>


</tr>
  <tr><td><%= @uninames_array[1] %></td></tr>
   <tr><td><%= @uninames_array[2] %></td></tr>
     <tr><td><%= @uninames_array[3] %></td></tr>
       <tr><td><%= @uninames_array[4] %></td></tr>
         <tr><td><%= @uninames_array[5] %></td></tr>
           <tr><td><%= @uninames_array[6] %></td></tr>
             <tr><td><%= @uninames_array[7] %></td></tr>
               <tr><td><%= @uninames_array[8] %></td></tr>
                 <tr><td><%= @uninames_array[9] %></td></tr>
                 
                     <tr><td><%= @uninames_array[11] %></td></tr>  
                     <tr><td><%= @uninames_array[12] %></td></tr>
                       <tr><td><%= @uninames_array[13] %></td></tr>
                         <tr><td><%= @uninames_array[14] %></td></tr>
                           <tr><td><%= @uninames_array[15] %></td></tr>
                             <tr><td><%= @uninames_array[16] %></td></tr>
                               <tr><td><%= @uninames_array[17] %></td></tr>
                                 <tr><td><%= @uninames_array[18] %></td></tr>
                                   <tr><td><%= @uninames_array[19] %></td></tr>
                                     <tr><td><%= @uninames_array[20] %></td></tr>
                                       <tr><td><%= @uninames_array[21] %></td></tr>
</table>  




    
        </aside>
   
    
    <div class="col-8 col-s-8">
            
              <h2>Courses available:</h2>
             
            
  
          </div>
          
        </div>  
</div>


