<% provide(:title, "Home") %>
<%= stylesheet_link_tag "custom.css.scss" %>



  
          
          
<div class="contenty">
  
  <div class="row">
        <aside class="col-4 col-s-4">
          
          <h2>Select a University:</h2>
          <table></table>
            
            
<table>                         
  <tr>                          
    <th>University</th>

  </tr>
<<<<<<< HEAD
  <tr>
    
    <td></td>

</tr>
 
=======

    
   
>>>>>>> 75203113e262ea67ec49e8f64c77deb85d6351c2
</table>  




    
        </aside>
   
    
    <div class="col-8 col-s-8">
            

            
            <p>Make your selections</p>
            
            <!-- <%= form_tag(advanced_search_path, :method => "get") do %>
              
              <%= label_tag :standard_grades, "Do you have Standard Grade C's or above in both Maths and English" %><br>
              <%= label_tag :yes %><br>
                <%= radio_button_tag :standard_grades, true %>
              <%= label_tag :no %><br>
                <%= radio_button_tag :standard_grades, false %>  <!-- This radio buttons code don't do anything -->
                  
              <%= label_tag :highers, "Enter subject" %>
                <select higher="subject"> 
                <%= @subject each do |higher| %>
                 <option value="<%= higher.higher %>"><%= higher.code_letter %></option>
                <% end %>
              </select>
              
              
              
                  <br>
              <%= label_tag :grade, "How many A's do you expect?" %>
              <%= select_tag "grades", options_for_select(["0", "1", "2", "3", "4"], @choice) %>
              
              <%= label_tag :interets, "What are you interested in?" %>
              <%= select_tag "interests", options_for_select(["business", "sciences", "languages"], @interests) %>
              
            <%= submit_tag "submit" %>
            <% end %></br>
            
            <% if @data != nil %>
            <p><%= @data.count %> results</p>
            <% end %>
            
            
            <% if @data != nil %>
              <table border="1" class="table">
                <thead>
                  <tr>
                    <th>Course title</th>
                    <th>Department</th>
                    <th>Ucas code</th>
                    <th>Highers required</th>
                    <th>Degree type</th>
                  </tr>
                </thead>
                <tbody>
                  <% @data.each do |course| %>
                  <tr>
                    <td><%= course.course_title %></td>
                    <td><%= course.departments %></td>
                    <td><%= course.ucas_code %></td>
                    <td><%= course.highers %></td>
                    <td><%= course.degree_type %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>


         
            
  
          </div>
          
        </div>  
</div>


