<!--Functionality of recommender?? --> 
<% provide(:title, 'Uni2choose') %>

<!--containers for design/layout --> 
<div class = "contenty">
  <div class = "row">
    
    <div class="col-s-6 col-s-6";>
    <!--Page information --> 
    <p>Uni2choose is a website designed to help you find the degree best suited to you, at the University you prefer.</p>
    <h4>Search for a degree:</h4>
      <%= form_tag(keyword_search_path, :method => "get", id: "search-data") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search course" %>
        <%= submit_tag "Search" %>
      <% end %>
    </div>
    
    <div class="col-s-6 col-s-6";>
      <%= link_to root_path do %>
      <%= image_tag "logoplaceholder.png" , :alt => "logo"%>
      <% end %>    
    </div>
    
    <div class="col-s-4 col-s-4";>
      <%= link_to new_path do %>
      <%= image_tag "rec.jpg" , :alt => "recbutton"%>
      <% end %>
    </div>
    <div class="col-s-4 col-s-4";>
      <%= link_to quiz_path do %>
      <%= image_tag "quiz.jpg" , :alt => "quizbutton" %>
      <% end %>
    </div>
    <div class="col-s-4 col-s-4";>
      <%= link_to summerschool_path do %>
      <%= image_tag "about.jpg" , :alt => "aboutbutton" %>
      <% end %>
    </div>

  </div>
</div>