<!--Functionality of recommender?? --> 
<% provide(:title, 'Uni2choose') %>

<!--containers for design/layout --> 
<div class = "contenty">
  <div class = "row">
    <div class="col-s-6 col-s-6";>

    <!--Page information --> 
    <p>Uni2Choose is a website designed to help you find the degree best suited to you. Through our recommender system, quiz, and search functions.</p>
   

    
    </div>
<<<<<<< HEAD
    
    
        <div class="col-s-6 col-s-6";>
        <%= link_to root_path do %>
        <%= image_tag "logoplaceholder.png" , :alt => "logo"%>
        <% end %>    
        </div>
        
    
    </div>
    <div class ="row"> 
    
    <div class="col-s-4 col-s-4";>
    <%= link_to new_path do %>
    <%= image_tag "rec.jpg" , :alt => "recbutton"%>
    <% end %>
    </div>
    <div class="col-s-4 col-s-4";>
    <%= link_to quiz_path do %>
    <%= image_tag "quiz.jpg" , :alt => "quizbutton" %>
    <% end %>
=======

    <!--Page information --> 
    <div class="col-s-6 col-s-6";>
      <%= search_form_for @adsearch, url: adsearch_path, method: :get do |f| %>
        <div class="hidden">
          <%= label_tag :uregion, "Refine By Region:" %><br>
          <%= render "regions" %><br>
          <%= select_tag :uregion, options_for_select(["Anywhere", "Northern", "Central belt", "South from Dundee"], selected: @uregion)  %>
    
          <%= label_tag :discipline, "Refine By Degree Category:" %><br>
          <%= select_tag :discipline, options_for_select(["Any", "Medicine and Dentistry", "Subjects allied to Medicine", "Biological Sciences",
            "Veterinary Sciences, Agriculture and Related Subjects", "Physical Sciences", "Mathematical Sciences", "Engineering", 
            "Computer Sciences", "Technologies", "Architecture, Building and Planning", "Social Studies", "Law", 
            "Business and Administrative Studies", "Mass Communication and Documentation", "Linguistics, Classics and Related Subjects",
            "European Languages, Literature and Related Subjects", 
            "Eastern, Asiatic, African, American and Australasian Languages, Literature and Related Subjects", 
            "Historical and Philosophical Studies", "Creative Arts and Design", "Education"], selected: @discipline ) %>
        
        </div>
        
        <div>
          <%= f.text_field :cname_cont, placeholder: "Search for a Degree" %>
        </div>
        
        <div class="hidden">
          <div>
            <%= f.label :uname_cont, "University Name Contains:" %>
            <%= f.text_field :uname_cont, placeholder: "University Name" %>
          </div>
        </div>
        <div class="actions"><%= f.submit "Search", :class => "btn btn-default" %></div>
      <% end %>
>>>>>>> 6e0bebc5f9f30ee8538ab377f08b2aef7ef90e5e
    </div>
    
    <div class="col-s-4 col-s-4";>
    <%= link_to about_path do %>
    <%= image_tag "about.jpg" , :alt => "aboutbutton" %>
    <% end %>
</div>
        <% breadcrumb :root %>
    
    </div>
    
    
    </div>