<!--Contact Us Form Page Title --> 
<% provide(:title, 'Contact') %>

<!--Page information --> 
  <div class = "row">
    <%= link_to "Back", :back %>
    <h1>Send A message to Us</h1>
    <%= image_tag "line.png" , :alt => "line break"%>    


    <!--Form for contacting -->
    <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :email, :required => true %>
    <%= f.input :subject, :required => true %>
    <%= f.input  :message, :as => :text, :required => true %>

    <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>

    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-default" %>
    </div>
    <% end %>
</div>
