<!-- Ransack condition fields code, unused at the moment. Could be used in further improvement of the advanced search to add additional fields-->
<div class="field">
  <p>Refinement Criteria (e.g. University Name)</p>
  <%= f.attribute_fields do |a| %>
    <%= a.attribute_select %>
  <% end %>
  
  <p>contains</p>
  <div class="hidden">
    <%= f.predicate_select compounds: false, only: %i(cont) %>
  </div>

  <p>Type in wanted value (e.g. Aberdeen)</p>
  <%= f.value_fields do |v| %>
    <%= v.text_field :value %>
  <% end %>
  <%= link_to "remove", '#', class: "remove_fields" %>
</div>