<!--Functionality of recommender?? --> 
<% provide(:title, '') %>

<!--containers for design/layout --> 
<div class = "contenty">
  <div class = "row">
    <!--Page information --> 
    <div class="col-s-4 col-s-4";>
      <%= search_form_for @adsearch, url: adsearch_path, method: :get do |f| %>
      
        <%= label_tag :uregion, "Refine By Region:" %><br>
        <%= render "regions" %><br>
        <%= select_tag :uregion, options_for_select(["Anywhere", "Northern", "Central belt", "South from Dundee"], selected: @uregion)  %>
  
        <%= label_tag :discipline, "Refine By Degree Category:" %><br>
        <%= select_tag :discipline, options_for_select(["Any", "Medicine and Dentistry", "Subjects allied to Medicine", "Biological Sciences",
          "Veterinary Sciences, Agriculture and Related Subjects", "Physical Sciences", "Mathematical Sciences", "Engineering", 
          "Computer Sciences", "Technologies", "Architecture, Building and Planning", "Social Studies", "Law", 
          "Business and Administrative Studies", "Mass Communication and Documentation", "Linguistics, Classics and Related Subjects",
          "European Languages, Literature and Related Subjects", 
          "Eastern, Asiatic, African, American and Australasian Languages, Literature and Related Subjects", 
          "Historical and Philosophical Studies", "Creative Arts and Design", "Education"], selected: @discipline ) %>
      
        <div>
          <%= f.label :cname_cont, "Degree Name Contains:" %>
          <%= f.text_field :cname_cont, placeholder: "Degree Name" %>
        </div>
        
        <div>
          <%= f.label :uname_cont, "University Name Contains:" %>
          <%= f.text_field :uname_cont, placeholder: "University Name" %>
        </div>
      
        <div class="actions"><%= f.submit "Search" %></div>
      <% end %>
    </div>
    
    <div class="col-s-8 col-s-8";>
      <% if @data != nil %>
      <p><%= @data.count %> results</p>
      <% end %>
  
      <% if @data != nil %>
        <table border="1" class="table">
          <thead>
            <tr>
              <th>Degree</th>
              <th>University</th>
              <th>Qualification</th>
            </tr>
          </thead>
          <tbody>
            <% @data.each do |degree| %>
            <tr>
              <td><%= link_to degree.cname, coursepage_path(indcoursepage: degree.id), :"data-no-turbolink" => true %></td>
              <td><%= degree.uname %></td>
              <td><%= degree.qualification %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
