<!--Advanced search Page --> 
<% provide(:title, 'Advanced search') %>

<!--containers for design/layout --> 
<div class = "signinstyle">
  <div class = "row">
    <!--Page information --> 
    
      <h1>Advanced Search</h1>
      
      <%= form_tag(advanced_search_path, :method => "get") do %>
        <div class="field">
          <%= label_tag :keyword, "Course subject:" %><br>
          <%= text_field_tag :keyword, @choice, placeholder: "Search course" %>
        </div>
            
        <div class="field">
          <%= label_tag :uregion, "Refine by region:" %><br>
          <%= select_tag :uregion, options_from_collection_for_select(University.all.to_a.uniq{ |o| o.uregion}, :id, :uregion)  %>
        </div>
        
        <div class="field">
          <%= label_tag :uname, "Refine by University:"%>
          <%= select_tag :uname, options_from_collection_for_select(University.all, :id, :uname), {:include_blank => 'Select University'} %>
        </div>
        
      <%= submit_tag "submit" %>
      <% end %></br>
      
      <% if @data != nil %>
      <p><%= @data.count %> results</p>
      <% end %>
      
      
      <% if @data != nil %>
        <table border="1" class="table">
          <thead>
            <tr>
              <th>University Name</th>
              <th>Course Name</th>
              <th>Duration</th>
              <th>Qualification</th>
              <th>Entry Requirements</th>
            </tr>
          </thead>
          <tbody>
            <% @data.each do |course| %>
            <tr>
              <td><%= course.uname %></td>
              <td><%= course.cname %></td>
              <td><%= course.duration %></td>
              <td><%= course.qualification %></td>
              <td><%= course.entry %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

    <!--closing the design/layout containers --> 
    </div>
</div>