<div class = "signinstyle">
  <div class = "row">
    
    
    <p id="notice"><%= notice %></p>

<h1>Listing Searches</h1>


<% if @searches != nil %>
<table>
  <thead>
    <tr>
      <th>Not interested in</th>
      <th>Selected course 1</th>
      <th>Selected course 2</th>
      <th>Selected course 3</th>
      <th>Selected course 4</th>
      <th>Selected course 5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @searches.each do |search| %>
      <tr>
        <td><%= search.not_interested %></td>
        <td><%= search.select_course1 %></td>
        <td><%= search.select_course2 %></td>
        <td><%= search.select_course3 %></td>
        <td><%= search.select_course4 %></td>
        <td><%= search.select_course5 %></td>
        <td><%= link_to 'Show', search %></td>
        <td><%= link_to 'Edit', edit_search_path(search) %></td>
        <td><%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to 'New Search', new_search_path %>

</div>
</div>
