<!-- Index of all Courses -->
<% provide(:title, "Search") %>

<!--containers for design/layout --> 
<div class = "signinstyle">
  <div class = "row">
    <!--Page information --> 
    
    <!-- add in refine search == link to advanced search -->
                    
      <%= form_tag(keyword_search_path, :method => "get", id: "search-data") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search course" %>
      <%= submit_tag "Search" %>
      <% end %>
      
       <%= button_to "Advanced Search", adsearch_path, :method => "get" %>
      
      <% if @search_degree != nil %>
      <p><%= @search_degree.count %> results</p>
      <% end %>
      
      <% if @search_degree != nil %>
        <table border="1" class="table">
          <thead>
            <tr>
              <th>University Name</th>
              <th>Course Name</th>
              <th>Duration</th>
              <th>Qualification</th>
              <th>Entry Requirements</th>
            </tr>
          </thead>
          <tbody>
            <% @search_degree.each do |degree| %>
            <tr>
              <td><%= degree.uname %></td>
              <td><%= degree.cname %></td>
              <td><%= degree.duration %></td>
              <td><%= degree.qualification %></td>
              <td><%= degree.entry %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
   
    <!--closing the design/layout containers --> 
    </div>
</div>