<br><br><br><br><br><br><br>
<p>How many A's do you have?</p>

<%= form_tag(searchbygrades_path, :method => "get", id: "search-data") do %>
<%= select_tag "grades", options_for_select([ "1", "2", "3", "4"]) %>
<%= submit_tag "submit" %>
<% end %></br>

<% if @data != nil %>
<p><%= @data.count %> results</p>
<% end %>

<% if @data != nil %>
  <table border="1" class="table">
    <thead>
      <tr>
        <th>Course title</th>
        <th>Ucas code</th>
        <th>Highers required</th>
        <th>Degree type</th>
      </tr>
    </thead>
    <tbody>
      <% @data.each do |course| %>
      <tr>
        <td><%= course.course_title %></td>
        <td><%= course.ucas_code %></td>
        <td><%= course.highers %></td>
        <td><%= course.degree_type %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
