<!-- Base layout -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= yield(:title) %> | Uni2choose</title>

  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
  <%= csrf_meta_tags %>


</head>
<body>
  <%= render 'layouts/navbar' %>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
    <!-- break tags because otherwise breadcrumbs are hidden behind the navigation -->
  <br><br><br><br>
  <%= render_crumbs separator: ' / ' %>

  <%= yield %>

  <%= render 'layouts/footer' %>
  
  <!-- JS for email, share and print buttons -->
  <script>
    var a2a_config = a2a_config || {};
    a2a_config.linkname = "Uni2choose - Check out my degree!";
    a2a_config.linkurl = window.location.href;
  </script>
  <script async src="https://static.addtoany.com/menu/page.js"></script>
  <!-- Share buttons end here -->

  <!-- JS for scotland regions popup -->
  <script type="text/javascript">
    Shadowbox.init();
  </script>
  <!-- Map pop up script ends here -->
  
</body>
</html>